#results{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 10px;
}

#ls{
    width: 150px;
    height: 150px;
     /* z-index: 1; */

}

#lsdiv{
     display: flex;
     justify-content: center;
     margin-left: 25px;
}

#selector{
  text-align: center;
}

.movie{
  display: grid;
  place-items: center;
}

.movie img {
  width: 250px;
  height: 370px;
  object-fit: cover;
}
