h1 {
     color: #FFE917;
     font-family: 'Star Wars';
     text-align: center;
     margin-top: 50px;
     margin-right: -45px;
     margin-left: -45px;
}

.characters {
     /* margin: 0 auto;
     width: 300px;
     height: 600px; */
     
     
}

#ls{
    width: 150px;
    height: 150px;
     /* z-index: 1; */

}

#lsdiv{
     display: flex;
     justify-content: center;
     margin-left: 25px;

}

.results{
     text-align: center;
     color: #ffe918 ;
     font-family: 'Star Wars';
 }
 
 .characters {
     /* margin: 0 auto;
     width: 300px;
     height: 600px; */
     
     
 }
 .search{
     color: #FFE917;
     text-align: center;
    
     /* justify-content: center; */
    
    }