#results{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 10px;
}

.movie{
  display: grid;
  place-items: center;
}

.movie img {
  width: 250px;
  height: 370px;
  object-fit: cover;
}
